body {
    margin: 0%;
}
.navbar {
    background-color: black;
    height: 80px;
    width: 100%;
}

.imgnavbar{
    float: left;
    /* margin: 5px; */
    margin-left: 15px;
    margin-top: 10px ;
}

.navbar a {
    float: right;
    color: #DA43D8;
    text-align: center;
    padding: 28px 6px;
    font-size: 14px;
    text-decoration: none;
}

.navbar a:hover { 
    /* background-color: #DA43D8; */
    color: white;
    /* border-radius: 150%; */
    cursor: pointer;
}
.jbimage {
   /* margin-top: 0%;
   padding-top : 0%; */
    background-image: url(./assets/imagenes/jbimage.webp);
    height: 550PX;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: black; */
}
.jbtext {
    /* text-align: center; */
    top: 2003px;
    left: 40%;
    padding-top: 200px;
    padding-left: 75%;
    }

    .articles {
        text-align: center;
    }
    .articles {
        color: gray;
    }
    .article {
        border: none;
        width: 30%;
        margin: 40px 20px;
        display: inline-block;
    }
    .article-header-img {
        width: 80%;
        max-height: 280px;
        border-radius: 30%;
    }

    .article-header-img:hover {
        border-radius: 10%;
    }

    .article-body-title:hover {
        color: #DA43D8;
    }

    .main, .secondary {
        /* border: 1px solid white; */
        background-color: #DA43D8;
    }

    .main {
        height: 170px ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .secondary {
        width: 300px;
        /* margin: 10px 0; */
        text-align: center;
        padding-top: 0px;
        /* text-decoration: underline; */
    }
    /* .secondarytext {
        text-decoration: none;
        list-style: none;
        color: beige;
    } */

    h4{
        color: black;
    }
   
    .secondary a {
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI';
    }
    .secondary a:hover {
        color: white;
    }
    @media (max-width:900px) {
        .secondary {
            width: 100%;
            background-color: #DA43D8;
        }
    }

    /* @media  (max-width:900px) {
        .article-header-img {
            width: 100%;
        }
        .articles {
            width: 100%}

    }
        
    @media (max-width:900px) {
            .jbimage {
                width: 100%;
            }
        } 
    ,.jbimage {
        display: flex;
    }

    /* @media (max-width:900px) {
        .jbimage {
            width: 100%;
            background-color: beige;
        }
    } */ 

    @media (max-width:900px) {
        .jbtext {
            width: 100%;
            background-color: white;
            text-align: left;
            margin: 5px;
            padding: 5px;
        
        }} 

        .email {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .enviar {
            width: 20%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

